{% extends "base.html" %}

{% block title %}員工管理{% endblock %}

{% block content%}
          <!--用户管理模块-->
            <div role="tabpanel" class="tab-pane" id="user">
                <div class="check-div form-inline">
                    <div class="col-xs-3">
                        <button class="btn btn-yellow btn-xs" data-toggle="modal" data-target="#addUser">添加</button>
                    </div>
                    <div class="col-xs-4">
                        <input type="text" class="form-control input-sm" placeholder="输入文字搜索">
                        <button class="btn btn-white btn-xs ">查 询 </button>
                    </div>
                    <div class="col-lg-3 col-lg-offset-2 col-xs-4" style=" padding-right: 40px;text-align: right;">
                        <label for="paixu">排序:&nbsp;</label>
                        <select class=" form-control">
                            <option>地区</option>
                            <option>地区</option>
                            <option>班期</option>
                            <option>性别</option>
                            <option>年龄</option>
                            <option>份数</option>
                        </select>
                    </div>
                </div>
                <div class="data-div">
                    <div class="row tableHeader">
                        <div class="col-xs-2 ">
                            會員編號
                        </div>
                        <div class="col-xs-2">
                            會員姓名
                        </div>
                        <div class="col-xs-4">
                            會員信箱
                        </div>
<!--                        <div class="col-xs-2">-->
<!--                            使用者名稱-->
<!--                        </div>-->
                        <div class="col-xs-2">
                            加入日期
                        </div>
                        <div class="col-xs-2">
                            操作
                        </div>
                    </div>

                    {% for staff in all_staffs:%}
                    <div class="tablebody">
                        <div class="row">
                            <div class="col-xs-2 ">
                                {{ staff.StaffID }}
                            </div>
                            <div class="col-xs-2">
                                {{ staff.StaffName}}
                            </div>
                            <div class="col-xs-4">
                                {{ staff.Email }}
                            </div>
                            <div class="col-xs-2">
                                {{ staff.RegistrationDate }}
                            </div>
<!--                            <div class="col-xs-2">-->
<!--                                <a class="linkCcc">查看</a>-->
<!--                            </div>-->
<!--                            <div class="col-xs-2">-->
<!--                                <a class="linkCcc">查看</a>-->
<!--                            </div>-->
                            <div class="col-xs-2">
                                {% if staff.State == 1 %}
                                    <button class="btn btn-success btn-xs editButton" data-toggle="modal" data-target="#reviseStaff" data-product-id="{{ staff.StaffID }}">修改
                                    </button>
                                    <button class="btn btn-danger btn-xs deleteButton " data-toggle="modal" data-target="#deleteStaff"
                                        data-delete-id="{{  staff.StaffID }}">删除</button>
                                {% else %}
                                    <button class="btn border-danger btn-xs restoreButton" data-restore-id="{{  staff.StaffID }}">恢复</button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <div class=" tablebody col-12">
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                    <ul>
                                        {% for message in messages %}
                                        <li>{{ message }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        {% endwith %}
                    </div>






                </div>

                <!--弹出添加用户窗口-->
                <div class="modal fade" id="addUser" role="dialog" aria-labelledby="gridSystemModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="gridSystemModalLabel">添加用戶</h4>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <form class="form-horizontal"  action="{{ url_for('staffs.add_staff') }}" method="post">
<!--                                        <div class="form-group ">-->
<!--                                            <label for="sName" class="col-xs-3 control-label">用戶名：</label>-->
<!--                                            <div class="col-xs-8 ">-->
<!--                                                <input  name="user" type="text" class="form-control input-sm duiqi" id="sName" placeholder="">-->
<!--                                            </div>-->
<!--                                        </div>-->
                                        <div class="form-group">
                                            <label for="staffname" class="col-xs-3 control-label">姓名：</label>
                                            <div class="col-xs-8 ">
                                                <input  name="username" type="text" class="form-control input-sm duiqi" id="staffname" placeholder="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="email" class="col-xs-3 control-label">信箱：</label>
                                            <div class="col-xs-8">
                                                <input  name="email" type="email" class="form-control input-sm duiqi" id="email" placeholder="">
                                            </div>
                                        </div>
                                          <div class="form-group">
                                            <label for="pwd" class="col-xs-3 control-label">密碼：</label>
                                            <div class="col-xs-8">
                                                <input  name="password" type="password" class="form-control input-sm duiqi" id="pwd" placeholder="">
                                                <i class="far fa-eye"></i>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="confirm-pwd" class="col-xs-3 control-label">再次確認：</label>
                                            <div class="col-xs-8">
                                                <input  name="confirm_password" type="password" class="form-control input-sm duiqi" id="confirm-pwd" placeholder="">
                                                <i class="far fa-eye"></i>
                                            </div>
                                        </div>


                                        <!--                                        <div class="form-group">-->
<!--                                            <label for="situation" class="col-xs-3 control-label">狀態：</label>-->
<!--                                            <div class="col-xs-8">-->
<!--                                                <label class="control-label" for="anniu">-->
<!--                                                    <input type="radio" name="situation" value="normal">正常</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
<!--                                                <label class="control-label" for="meun">-->
<!--                                                    <input type="radio" name="situation" value="forbid">禁用</label>-->
<!--                                            </div>-->
<!--                                        </div>-->
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-xs btn-white" data-dismiss="modal">取 消</button>
                                            <button type="submit" class="btn btn-xs btn-green">保 存</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
<!--                            <div class="modal-footer">-->
<!--                                <button type="button" class="btn btn-xs btn-white" data-dismiss="modal">取 消</button>-->
<!--                                <button type="submit" class="btn btn-xs btn-green">保 存</button>-->
<!--                            </div>-->
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->

                <!--弹出修改用户窗口-->
                <div class="modal fade" id="reviseStaff" role="dialog" aria-labelledby="gridSystemModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="gridSystemModalLabel">修改用户</h4>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <form class="form-horizontal">
                                        <div class="form-group ">
                                            <label for="sName" class="col-xs-3 control-label">用户名：</label>
                                            <div class="col-xs-8 ">
                                                <input type="email" class="form-control input-sm duiqi" id="sName" placeholder="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="sLink" class="col-xs-3 control-label">真实姓名：</label>
                                            <div class="col-xs-8 ">
                                                <input type="" class="form-control input-sm duiqi" id="sLink" placeholder="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="sOrd" class="col-xs-3 control-label">电子邮箱：</label>
                                            <div class="col-xs-8">
                                                <input type="" class="form-control input-sm duiqi" id="sOrd" placeholder="">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="sKnot" class="col-xs-3 control-label">权限：</label>
                                            <div class="col-xs-8">
                                                <input type="" class="form-control input-sm duiqi" id="sKnot" placeholder="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="situation" class="col-xs-3 control-label">状态：</label>
                                            <div class="col-xs-8">
                                                <label class="control-label" for="anniu">
                                                    <input type="radio" name="situation" id="normal">正常</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                <label class="control-label" for="meun">
                                                    <input type="radio" name="situation" id="forbid"> 禁用</label>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-xs btn-white" data-dismiss="modal">取 消</button>
                                <button type="button" class="btn btn-xs btn-green" id="saveButton">保 存</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->

                <!--弹出删除用户警告窗口-->
                <div class="modal fade" id="deleteStaff" role="dialog" aria-labelledby="gridSystemModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="gridSystemModalLabel">提示</h4>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid">
                                    確定要刪除該用戶？
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-xs btn-white" data-dismiss="modal">取 消</button>
                                <button type="button" class="btn  btn-xs btn-danger confirmDelete">保 存</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
                <script>
                    $(document).ready(function () {
                        var staffId;
                        var staffIdToDelete;

                         {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                {% for message in messages %}
                                     alert('{{ message }}');
                                {% endfor %}
                            {% endif %}
                         {% endwith %}

                          // 点击删除按钮时的事件处理
                        $('.deleteButton').on('click', function () {
                            // 获取商品 ID
                            staffIdToDelete = $(this).data('delete-id');
                            // alert("delete_id",staffIdToDelete);
                            console.log(orderIdToDelete);
                        });

                           // 点击删除按钮时的事件处理
                        $('.confirmDelete').on('click', function () {
                            console.log(staffIdToDelete);
                            alert(staffIdToDelete);

                            // 在这里将 orderId 传递到服务端，你可以使用 Ajax 请求
                            $.ajax({
                                url:  '{{ url_for('staffs.delete_staff', staff_id=0) }}'.replace(0, staffIdToDelete),
                                type: 'POST',
                                success: function (response) {
                                    console.log(response);
                                    alert('删除成功！')
                                    location.reload();
                                },
                                error: function (error) {
                                    console.log(error);
                                    alert('删除失败！');
                                }
                            });

                            // 关闭模态窗口
                            $('#deleteProduct').modal('hide');
                        });
                        // 给恢复按钮添加点击事件处
                        $('.restoreButton').on('click', function () {
                            staffIdToRestore = $(this).data('restore-id');
                            console.log(staffIdToRestore);
                            alert(staffIdToRestore);

                            // 在这里将 staffId 传递到服务端，你可以使用 Ajax 请求
                            $.ajax({
                                url: '{{ url_for('staffs.revive_staff',staff_id=0) }}'.replace(0, staffIdToRestore),
                                type: 'POST',
                                success: function (response) {
                                    console.log(response);
                                    alert('恢复成功！');
                                     location.reload();
                                },
                                error: function (error) {
                                    console.log(error);
                                    alert('恢复失败！');
                                }
                            });
                        });
                    });

                </script>
            </div>


{% endblock %}